.container {
    display: flex;
    justify-content: space-between
    
}

.container2 {
    display: flex;
    justify-content: center;
    }

.itemvert {
    background-color: darkgreen;
    width: 25%;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.itembleu {
    background-color: blue;
    width: 25%;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemviolet {
    background-color: violet;
    width: 25%;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.itemorange {
    background-color: orange;
    width: 25%;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: red;
    width: 100%;
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    margin: 1px;
}

.cercle {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
}